<mat-card class="section">
    <h2 class="heading">
        Items In Cart
        <mat-icon matBadge="{{count}}">shopping_cart</mat-icon>
    </h2>
    <mat-divider></mat-divider>
    <div *ngIf="cartItems.length; else noItems" class="card">
        <div *ngFor="let item of cartItems" class="items"> 
            <div class="item-img">
                <img class="cart-img" mat-card-img src="./../../../assets/images/{{item.image}}" 
                    alt="a picture of {{item.name}}">
            </div>
            <div class="item-desc">
                {{item.name + ' - R' + item.price}}
            </div>
            <div class="item-controls">
                <button mat-raised-button color="primary" (click)="remove(item)">
                    remove
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
            </div>
        </div>
        <p>
            <strong class="label">Total: R {{total}}</strong>
        </p>
    </div>

    <ng-template #noItems>
        <div class="card">
            Empty Cart
        </div>
    </ng-template>

</mat-card>