<mat-card>
  <div class="card" *ngFor="let currentOrder of items">
    <label class="order-label">
      Order: {{ currentOrder.order_no }} - R {{ currentOrder.items_price }}
    </label>
    <mat-card class="item" *ngFor="let item of currentOrder.items">
      <div class="item-image">
        <img
          class="image"
          mat-card-img
          [src]="item.image"
          alt="a picture of {{ item.name }}"
        />
      </div>

      <div class="item-info">
        <label class="item-title" color="tertiary">
          {{ item.name }} x {{ item.quantity }}
        </label>
        <br />
        <label class="item-price">R {{ item.price }}</label>
      </div>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
</mat-card>
