.section { 
    margin: 20px 50px;
    padding: 10px;
}

.heading {
    text-align: center;
    font-size: 34px;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 291px;
    margin: 10px;
    height: 450px;
  }

.item-card {
    text-align: center;
    
}

img {
    width: 100%;
    height: 300px;
}
