.section {
  margin: 20px;
  padding: 10px;
  background: #f2f2f2;
}

.heading {
  text-align: center;
  font-size: 34px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.item-card {
  text-align: center;
  flex-basis: 25%;
  margin: 5px;
  height: 450px;
  background: #ccc;
}

img {
  background: #fff;
  width: 100%;
  height: 300px;
}

.item-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.item-price {
  font-size: 1rem;
  font-weight: 600;
}
