.section { 
    margin: 20px 50px;
    padding: 10px;
    background: #f2f2f2;
}

.heading {
    text-align: center;
    font-size: 34px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}

.item {
    width: 290px;
    margin-top: 10px;
    height: 450px;
  }

.item-card {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

img {
    width: 100%;
    height: 300px;
}
