<mat-card class="section">
  <h2 class="heading">
    Items
    <button mat-button routerLink="/cart" color="primary">
      <mat-icon matBadge="{{ count }}">shopping_cart</mat-icon>
    </button>
  </h2>
  <mat-divider></mat-divider>
  <div class="box">
    <mat-card class="item-card" *ngFor="let item of food_items">
      <img mat-card-img [src]="item.image" alt="a picture of {{ item.name }}" />
      <mat-card-content>
        <label class="item-title">{{ item.name }}</label>
        <br />
        <label class="item-price">R {{ item.price }}</label>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addToCart(item)">
          Add To Cart
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>
