.sidenav {
    width: 210px;
    position: relative;
    top: 10px;
    left: 10px;
    padding: 6px;
}

.main {
    margin-left: 240px;
    position: absolute;
    top: 80px;
    width: 80vw;
}

.btn {
    width: 100%;
    margin: 2px;
    text-align: left;
}

.card {
    background: #f2f2f2;
}