<div class="sidenav">
  <mat-card class="card">
    <button
      routerLink="./../user"
      mat-raised-button
      color="primary"
      class="btn"
    >
      <mat-icon>home</mat-icon>Home
    </button>
    <button routerLink="./list" mat-raised-button color="primary" class="btn">
      <mat-icon>view_list</mat-icon>Orders
    </button>
  </mat-card>
</div>

<div class="main">
  <mat-card *ngIf="noItems > 0" style="text-align: center">
    <button mat-raised-button (click)="checkout()">
      <mat-icon>shopping_basket</mat-icon>Checkout
    </button>
  </mat-card>
  <router-outlet></router-outlet>
</div>
