.sidenav {
  width: 210px;
  position: relative;
  top: 10px;
  left: 10px;
  padding: 6px;
}

.main {
  margin-left: 240px;
  position: relative;
  top: -104px;
  /*top: 80px;*/
  width: 65vw;
  /*margin-bottom: 2.5rem;*/
}

.btn {
  width: 100%;
  margin: 2px;
  text-align: left;
}

.card {
  height: 100%;
}
