<mat-toolbar color="primary" class="toolbar">
    <span>Shopping Application</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/shop">
        Shop
    </button>
    <!--<button mat-button routerLink="/user">
        Account
    </button>
    <button mat-button routerLink="/home">
        Admin
    </button>-->
    <button mat-button routerLink="/cart">
        <mat-icon matBadge="{{cartService.getNoItems()}}">shopping_cart</mat-icon>
    </button>
    <button *ngIf="auth.user | async; else showLogin" 
        mat-button (click)="logout()">
        Logout
    </button>
    
    <ng-template #showLogin>
        <button mat-button routerLink="/login">
            Login
        </button>
    </ng-template>
</mat-toolbar>
