<mat-toolbar color="primary">
    <span>Shopping Application</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/shop">
        shop
    </button>
    <button mat-button routerLink="/home">
        home
    </button>
    <button mat-button routerLink="/cart">
        <mat-icon matBadge="{{cartService.getNoItems()}}">shopping_cart</mat-icon>
    </button>
    <!-- 
        TEMPLATE 
    -->
    <button mat-button routerLink="/login">
        Login
    </button>
</mat-toolbar>
